.form-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.form-container h2 {
  margin-bottom: 10px;
  color: #333;
}

.form-container p {
  margin: 5px 0;
  color: #666;
}

.form-container h3 {
  margin-top: 20px;
  color: #333;
}

.form-container h4 {
  margin-top: 15px;
  margin-bottom: 5px;
  color: #333;
}

.form-container div {
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.form-container div:first-child {
  border-top: none;
  padding-top: 0;
}

.loading-text {
  text-align: center;
  color: #666;
}
