@font-face {
  font-family: 'Sarabun';
  src: url('./fonts/Sarabun-Thin.ttf') format('truetype');
}

* {
    margin: 0;
  }
  body {
    display: flex;
    align-items: center;
    justify-content: centers;
    background-color: #86D2EC; 
    font-family: 'Sarabun';
   
  }  
  .mainContainer {
    background-color: #86D2EC;
    width: 100%;
    height: 754px;
  }
  #Usernames {
    text-align: right;
    margin-top: 100px;
    margin-right: 70px;
   
  }
  #textSurveySet {
    margin-left: 170px;
    margin-top: 40px;
  }  
  .containerSurveySet {
    display: flex;
    margin-top: 50px;
    margin-left: 70px;
  }
  
  .rectangle-box {
    width: 212px;
    height: 235px;
    margin-left: 100px;
    background-color: #d9d9d9;
    text-align: center;
  }
  .rectangle-box img {
    margin-top: 40%;
  }
  .rectangle-box p {
    margin-top: 30px;
  }  
  #addIcon {
    transition: transform 0.3s ease; 
    cursor: pointer; 
  }
  
  #addIcon:hover {
    transform: scale(1.2);
  }

  #addSurveySet {
    transition: transform 0.3s ease; 
    cursor: pointer; 
  }
  
 #addSurveySet:hover {
    transform: scale(1.2);
  }
  .secondContainer{
    margin-right: 70px;
  }