.containerCompany {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-left: 70px;
  margin-right: 70px; 
}

.rectangle-box {
  width: calc(25% - 20px); 
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d9d9d9;
  text-align: center;
}

.rectangle-box img {
  width: 50px;
  height: 50px;
  margin-top: 20px; 
}

.rectangle-box p {
  margin-top: 10px;
  text-align: center;
}

#addIcon,
#addCompany {
  transition: transform 0.3s ease;
  cursor: pointer;
}

#addIcon:hover,
#addCompany:hover {
  transform: scale(1.2);
}


#textCompany{
  margin-left: 190px;
}