* {
  margin: 0;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainContainer {
  background-color: #ebf7fb;
  width: 100%;
  height: 754px;
}
#Usernames {
  text-align: right;
  margin-top: 20px;
  margin-right: 70px;
}
#textCompany {
  margin-left: 170px;
}

.containerCompany {
  display: flex;
  margin-top: 50px;
  margin-left: 70px;
}

.rectangle-box {
  width: 212px;
  height: 235px;
  margin-left: 100px;
  background-color: #d9d9d9;
  text-align: center;
}
.rectangle-box img {
  margin-top: 40%;
}
.rectangle-box p {
  margin-top: 30px;
}
